networks:
  traefik-public:
    # Allow setting it to false for testing
    external: true

volumes:
  postgres_data:
  redis_data:
  rustfs_data:

services:

  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DATABASE_USER:-myapp}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-changethis}
      - POSTGRES_DB=${DATABASE_NAME:-myapp}
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - traefik-public
      - default
    healthcheck:
      test: |
        CMD-SHELL
        pg_isready -U ${DATABASE_USER:-myapp} -d ${DATABASE_NAME:-myapp}
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 30s

  redis:
    image: redis:latest
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD:-changethis}
    volumes:
      - redis_data:/data
    networks:
      - traefik-public
      - default
    healthcheck:
      test: |
        CMD
        redis-cli -a ${REDIS_PASSWORD:-changethis} ping
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 30s

  rustfs:
    image: rustfs/rustfs:latest
    restart: unless-stopped
    environment:
      RUSTFS_ACCESS_KEY: ${STORAGE_ACCESS_KEY:-admin}
      RUSTFS_SECRET_KEY: ${STORAGE_SECRET_KEY:-changethis}
      RUSTFS_CONSOLE_ENABLE: true
    volumes:
      - rustfs_data:/data
    networks:
      - traefik-public
      - default
    healthcheck:
      test: |
        CMD-SHELL
        curl -f http://localhost:9000/health && curl -f http://localhost:9001/health
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  rustfs-init:
    image: minio/mc:latest
    depends_on:
      rustfs:
        condition: service_healthy
    entrypoint:
      - /bin/sh
      - -c
      - |
        until mc alias set myrustfs http://rustfs:9000 ${STORAGE_ACCESS_KEY:-admin} ${STORAGE_SECRET_KEY:-changethis}; do
          echo 'Waiting for RustFS...'
          sleep 1
        done
        if mc ls myrustfs/${STORAGE_BUCKET_NAME:-myapp} > /dev/null 2>&1; then
          echo 'Bucket already exists'
        else
          mc mb myrustfs/${STORAGE_BUCKET_NAME:-myapp}
        fi
        exit 0
    networks:
      - traefik-public
      - default

  prestart:
    image: '${DOCKER_IMAGE_BACKEND?Variable not set}:${TAG-latest}'
    networks:
      - traefik-public
      - default
    build:
      context: ./backend
    command: bash scripts/prestart.sh
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    env_file:
      - .env
    environment:
      # Project
      DOMAIN: ${DOMAIN}
      FRONTEND_HOST: ${FRONTEND_HOST}
      ENVIRONMENT: ${ENVIRONMENT}
      BACKEND_CORS_ORIGINS: ${BACKEND_CORS_ORIGINS}
      SECRET_KEY: ${SECRET_KEY?Variable not set}
      FIRST_SUPERUSER: ${FIRST_SUPERUSER?Variable not set}
      FIRST_SUPERUSER_PASSWORD: ${FIRST_SUPERUSER_PASSWORD?Variable not set}
      # Database
      DATABASE_TYPE: ${DATABASE_TYPE}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD?Variable not set}
      DATABASE_NAME: ${DATABASE_NAME}
      # Redis
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
      REDIS_PASSWORD: ${REDIS_PASSWORD?Variable not set}
      # Simple Storage Service
      STORAGE_ENDPOINT: ${STORAGE_ENDPOINT}
      STORAGE_ACCESS_KEY: ${STORAGE_ACCESS_KEY?Variable not set}
      STORAGE_SECRET_KEY: ${STORAGE_SECRET_KEY?Variable not set}
      STORAGE_BUCKET_NAME: ${STORAGE_BUCKET_NAME}
      STORAGE_SECURE: ${STORAGE_SECURE}
      # Email
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD?Variable not set}
      SMTP_TLS: ${SMTP_TLS}
      SMTP_SSL: ${SMTP_SSL}
      EMAILS_FROM_EMAIL: ${EMAILS_FROM_EMAIL}
      EMAILS_FROM_NAME: ${EMAILS_FROM_NAME}
      EMAIL_TEST_USER: ${EMAIL_TEST_USER}
      # OIDC
      OIDC_ENABLED: ${OIDC_ENABLED}
      OIDC_NAME: ${OIDC_NAME}
      OIDC_AUTH_URL: ${OIDC_AUTH_URL}
      OIDC_TOKEN_URL: ${OIDC_TOKEN_URL}
      OIDC_USERINFO_URL: ${OIDC_USERINFO_URL}
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OIDC_SCOPES: ${OIDC_SCOPES}
      SIGNOUT_REDIRECT_URL: ${SIGNOUT_REDIRECT_URL}
      AUTO_LOGIN: ${AUTO_LOGIN}
      # LDAP
      LDAP_ENABLED: ${LDAP_ENABLED}
      LDAP_HOST: ${LDAP_HOST}
      LDAP_PORT: ${LDAP_PORT}
      LDAP_BIND_DN: ${LDAP_BIND_DN}
      LDAP_BIND_PASSWORD: ${LDAP_BIND_PASSWORD}
      LDAP_BASE_DN: ${LDAP_BASE_DN}
      LDAP_USER_FILTER: ${LDAP_USER_FILTER}
      LDAP_EMAIL_ATTRIBUTE: ${LDAP_EMAIL_ATTRIBUTE}
      LDAP_USERNAME_ATTRIBUTE: ${LDAP_USERNAME_ATTRIBUTE}
      LDAP_FULLNAME_ATTRIBUTE: ${LDAP_FULLNAME_ATTRIBUTE}

  backend:
    image: '${DOCKER_IMAGE_BACKEND?Variable not set}:${TAG-latest}'
    restart: unless-stopped
    networks:
      - traefik-public
      - default
    build:
      context: ./backend
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
      prestart:
        condition: service_completed_successfully
    env_file:
      - .env
    environment:
      # Project
      DOMAIN: ${DOMAIN}
      FRONTEND_HOST: ${FRONTEND_HOST}
      ENVIRONMENT: ${ENVIRONMENT}
      BACKEND_CORS_ORIGINS: ${BACKEND_CORS_ORIGINS}
      SECRET_KEY: ${SECRET_KEY?Variable not set}
      FIRST_SUPERUSER: ${FIRST_SUPERUSER?Variable not set}
      FIRST_SUPERUSER_PASSWORD: ${FIRST_SUPERUSER_PASSWORD?Variable not set}
      # Database
      DATABASE_TYPE: ${DATABASE_TYPE}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD?Variable not set}
      DATABASE_NAME: ${DATABASE_NAME}
      # Redis
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
      REDIS_PASSWORD: ${REDIS_PASSWORD?Variable not set}
      # Simple Storage Service
      STORAGE_ENDPOINT: ${STORAGE_ENDPOINT}
      STORAGE_ACCESS_KEY: ${STORAGE_ACCESS_KEY?Variable not set}
      STORAGE_SECRET_KEY: ${STORAGE_SECRET_KEY?Variable not set}
      STORAGE_BUCKET_NAME: ${STORAGE_BUCKET_NAME}
      STORAGE_SECURE: ${STORAGE_SECURE}
      # Email
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD?Variable not set}
      SMTP_TLS: ${SMTP_TLS}
      SMTP_SSL: ${SMTP_SSL}
      EMAILS_FROM_EMAIL: ${EMAILS_FROM_EMAIL}
      EMAILS_FROM_NAME: ${EMAILS_FROM_NAME}
      EMAIL_TEST_USER: ${EMAIL_TEST_USER}
      # OIDC
      OIDC_ENABLED: ${OIDC_ENABLED}
      OIDC_NAME: ${OIDC_NAME}
      OIDC_AUTH_URL: ${OIDC_AUTH_URL}
      OIDC_TOKEN_URL: ${OIDC_TOKEN_URL}
      OIDC_USERINFO_URL: ${OIDC_USERINFO_URL}
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OIDC_SCOPES: ${OIDC_SCOPES}
      SIGNOUT_REDIRECT_URL: ${SIGNOUT_REDIRECT_URL}
      AUTO_LOGIN: ${AUTO_LOGIN}
      # LDAP
      LDAP_ENABLED: ${LDAP_ENABLED}
      LDAP_HOST: ${LDAP_HOST}
      LDAP_PORT: ${LDAP_PORT}
      LDAP_BIND_DN: ${LDAP_BIND_DN}
      LDAP_BIND_PASSWORD: ${LDAP_BIND_PASSWORD}
      LDAP_BASE_DN: ${LDAP_BASE_DN}
      LDAP_USER_FILTER: ${LDAP_USER_FILTER}
      LDAP_EMAIL_ATTRIBUTE: ${LDAP_EMAIL_ATTRIBUTE}
      LDAP_USERNAME_ATTRIBUTE: ${LDAP_USERNAME_ATTRIBUTE}
      LDAP_FULLNAME_ATTRIBUTE: ${LDAP_FULLNAME_ATTRIBUTE}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/utils/healthz/"]
      interval: 10s
      timeout: 10s
      retries: 5
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.${STACK_NAME?Variable not set}-backend.loadbalancer.server.port=8000

      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-http.rule=Host(`api.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-http.entrypoints=http

      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-https.rule=Host(`api.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-https.entrypoints=https
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-https.tls=true
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-https.tls.certresolver=le

      # Enable redirection for HTTP and HTTPS
      - traefik.http.routers.${STACK_NAME?Variable not set}-backend-http.middlewares=https-redirect

  frontend:
    image: '${DOCKER_IMAGE_FRONTEND?Variable not set}:${TAG-latest}'
    restart: unless-stopped
    networks:
      - traefik-public
      - default
    build:
      context: ./frontend
      args:
        - VITE_API_URL=https://api.${DOMAIN?Variable not set}
        - NODE_ENV=production
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.constraint-label=traefik-public

      - traefik.http.services.${STACK_NAME?Variable not set}-frontend.loadbalancer.server.port=80

      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-http.rule=Host(`web.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-http.entrypoints=http

      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-https.rule=Host(`web.${DOMAIN?Variable not set}`)
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-https.entrypoints=https
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-https.tls=true
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-https.tls.certresolver=le

      # Enable redirection for HTTP and HTTPS
      - traefik.http.routers.${STACK_NAME?Variable not set}-frontend-http.middlewares=https-redirect
