services:
  celery_worker:
    image: '${DOCKER_IMAGE_BACKEND?Variable not set}:${TAG-latest}'
    restart: unless-stopped
    networks:
      - traefik-public
      - default
    build:
      context: ./backend
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
    env_file:
      - .env
    environment:
      # Project
      DOMAIN: ${DOMAIN}
      FRONTEND_HOST: ${FRONTEND_HOST}
      ENVIRONMENT: ${ENVIRONMENT}
      BACKEND_CORS_ORIGINS: ${BACKEND_CORS_ORIGINS}
      SECRET_KEY: ${SECRET_KEY?Variable not set}
      FIRST_SUPERUSER: ${FIRST_SUPERUSER?Variable not set}
      FIRST_SUPERUSER_PASSWORD: ${FIRST_SUPERUSER_PASSWORD?Variable not set}
      # Database
      DATABASE_TYPE: ${DATABASE_TYPE}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD?Variable not set}
      DATABASE_NAME: ${DATABASE_NAME}
      # Redis
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
      REDIS_PASSWORD: ${REDIS_PASSWORD?Variable not set}
      # Simple Storage Service
      STORAGE_ENDPOINT: ${STORAGE_ENDPOINT}
      STORAGE_ACCESS_KEY: ${STORAGE_ACCESS_KEY?Variable not set}
      STORAGE_SECRET_KEY: ${STORAGE_SECRET_KEY?Variable not set}
      STORAGE_BUCKET_NAME: ${STORAGE_BUCKET_NAME}
      STORAGE_SECURE: ${STORAGE_SECURE}
      # Email
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD?Variable not set}
      SMTP_TLS: ${SMTP_TLS}
      SMTP_SSL: ${SMTP_SSL}
      EMAILS_FROM_EMAIL: ${EMAILS_FROM_EMAIL}
      EMAILS_FROM_NAME: ${EMAILS_FROM_NAME}
      EMAIL_TEST_USER: ${EMAIL_TEST_USER}
      # OIDC
      OIDC_ENABLED: ${OIDC_ENABLED}
      OIDC_NAME: ${OIDC_NAME}
      OIDC_AUTH_URL: ${OIDC_AUTH_URL}
      OIDC_TOKEN_URL: ${OIDC_TOKEN_URL}
      OIDC_USERINFO_URL: ${OIDC_USERINFO_URL}
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OIDC_SCOPES: ${OIDC_SCOPES}
      SIGNOUT_REDIRECT_URL: ${SIGNOUT_REDIRECT_URL}
      AUTO_LOGIN: ${AUTO_LOGIN}
      # LDAP
      LDAP_ENABLED: ${LDAP_ENABLED}
      LDAP_HOST: ${LDAP_HOST}
      LDAP_PORT: ${LDAP_PORT}
      LDAP_BIND_DN: ${LDAP_BIND_DN}
      LDAP_BIND_PASSWORD: ${LDAP_BIND_PASSWORD}
      LDAP_BASE_DN: ${LDAP_BASE_DN}
      LDAP_USER_FILTER: ${LDAP_USER_FILTER}
      LDAP_EMAIL_ATTRIBUTE: ${LDAP_EMAIL_ATTRIBUTE}
      LDAP_USERNAME_ATTRIBUTE: ${LDAP_USERNAME_ATTRIBUTE}
      LDAP_FULLNAME_ATTRIBUTE: ${LDAP_FULLNAME_ATTRIBUTE}
    command: celery -A app.worker.celery worker -l info

  celery_beat:
    image: '${DOCKER_IMAGE_BACKEND?Variable not set}:${TAG-latest}'
    restart: unless-stopped
    networks:
      - traefik-public
      - default
    build:
      context: ./backend
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
      redis:
        condition: service_healthy
        restart: true
    env_file:
      - .env
    environment:
      # Project
      DOMAIN: ${DOMAIN}
      FRONTEND_HOST: ${FRONTEND_HOST}
      ENVIRONMENT: ${ENVIRONMENT}
      BACKEND_CORS_ORIGINS: ${BACKEND_CORS_ORIGINS}
      SECRET_KEY: ${SECRET_KEY?Variable not set}
      FIRST_SUPERUSER: ${FIRST_SUPERUSER?Variable not set}
      FIRST_SUPERUSER_PASSWORD: ${FIRST_SUPERUSER_PASSWORD?Variable not set}
      # Database
      DATABASE_TYPE: ${DATABASE_TYPE}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_USER: ${DATABASE_USER}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD?Variable not set}
      DATABASE_NAME: ${DATABASE_NAME}
      # Redis
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DB: ${REDIS_DB}
      REDIS_PASSWORD: ${REDIS_PASSWORD?Variable not set}
      # Simple Storage Service
      STORAGE_ENDPOINT: ${STORAGE_ENDPOINT}
      STORAGE_ACCESS_KEY: ${STORAGE_ACCESS_KEY?Variable not set}
      STORAGE_SECRET_KEY: ${STORAGE_SECRET_KEY?Variable not set}
      STORAGE_BUCKET_NAME: ${STORAGE_BUCKET_NAME}
      STORAGE_SECURE: ${STORAGE_SECURE}
      # Email
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USER: ${SMTP_USER}
      SMTP_PASSWORD: ${SMTP_PASSWORD?Variable not set}
      SMTP_TLS: ${SMTP_TLS}
      SMTP_SSL: ${SMTP_SSL}
      EMAILS_FROM_EMAIL: ${EMAILS_FROM_EMAIL}
      EMAILS_FROM_NAME: ${EMAILS_FROM_NAME}
      EMAIL_TEST_USER: ${EMAIL_TEST_USER}
      # OIDC
      OIDC_ENABLED: ${OIDC_ENABLED}
      OIDC_NAME: ${OIDC_NAME}
      OIDC_AUTH_URL: ${OIDC_AUTH_URL}
      OIDC_TOKEN_URL: ${OIDC_TOKEN_URL}
      OIDC_USERINFO_URL: ${OIDC_USERINFO_URL}
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID}
      OIDC_CLIENT_SECRET: ${OIDC_CLIENT_SECRET}
      OIDC_SCOPES: ${OIDC_SCOPES}
      SIGNOUT_REDIRECT_URL: ${SIGNOUT_REDIRECT_URL}
      AUTO_LOGIN: ${AUTO_LOGIN}
      # LDAP
      LDAP_ENABLED: ${LDAP_ENABLED}
      LDAP_HOST: ${LDAP_HOST}
      LDAP_PORT: ${LDAP_PORT}
      LDAP_BIND_DN: ${LDAP_BIND_DN}
      LDAP_BIND_PASSWORD: ${LDAP_BIND_PASSWORD}
      LDAP_BASE_DN: ${LDAP_BASE_DN}
      LDAP_USER_FILTER: ${LDAP_USER_FILTER}
      LDAP_EMAIL_ATTRIBUTE: ${LDAP_EMAIL_ATTRIBUTE}
      LDAP_USERNAME_ATTRIBUTE: ${LDAP_USERNAME_ATTRIBUTE}
      LDAP_FULLNAME_ATTRIBUTE: ${LDAP_FULLNAME_ATTRIBUTE}
    command: celery -A app.worker.celery beat -l info

networks:
  traefik-public:
    # Allow setting it to false for testing
    external: true
